<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>local.kmonad.model-m</string>
    <key>Program</key>
    <string>/Users/pron/.local/bin/kmonad</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/pron/.local/bin/kmonad</string>
      <!-- <string>-l</string> -->
      <!-- <string>debug</string> -->
      <string>/Users/pron/Source/kmonad-contrib/keymaps/rdparker/model-m-mac.kbd</string>
    </array>
    <key>RunAtLoad</key>
    <true />
    <key>StandardOutPath</key>
    <string>/tmp/kmonad.model-m.stdout</string>
    <key>StandardErrorPath</key>
    <string>/tmp/kmonad.model-m.stderr</string>
  </dict>
</plist>
